{% extends "layout.html.twig" %}

{% block title %}Gestion des users{% endblock %}

{% block content %}
    {# {{ dump(users) }} #}
    <h1>GESTION USERS TWIG</h1>
        {% for user in users %}
            <div>
                {{ user.firstname }}
                {{ user.lastname }}
                {{ user.email }}
            </div>
        {% endfor %}
{% endblock %}